h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}
a {
    color:grey; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-size: 12px;
    text-transform: uppercase;
    text-decoration: wavy;
}

a:hover {
    color: black
}